{% extends 'base.html.twig' %}

{% block title 'property of agence_immo' %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h1>{{ property.title }}</h1>
            <div>{{property.rooms}} pièces - {{property.surface}} m²</div>
            <div>{{property.priceWithCurrency}}</div>
            <button class="btn btn-primary">Contacter l'agence</button>
        </div>
        <nav class="nav nav-tabs" id="tabs"></nav>
    </div>
    <div class="mt4">
        <p> {{ property.description | nl2br }}</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface</td>
                    <td>{{property.surface}}</td>
                </tr>
                <tr>
                    <td>Pièces</td>
                    <td>{{property.rooms}}</td>
                </tr>
                <tr>
                    <td>Chambres</td>
                    <td>{{property.bedrooms}}</td>
                </tr>
                <tr>
                    <td>Etage</td>
                    <td>{{property.floor}}</td>
                </tr>
                <tr>
                    <td>Chauffage</td>
                    <td>{{property.heatType}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Spécifications</h2>
        </div>
    </div>
{% endblock %}