<div class="col-3">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">
                <div>
                    <a href="{{path('property', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                </div>
            </div>
            <div class="card-text">
                <div>
                    <div>{{property.address}}</div>
                    <div>{{property.city}} ({{property.postalCode}})</div>
                </div>
                <div>{{property.description}}</div>
                <div>{{property.priceWithCurrency}}</div>
            </div>
        </div>
    </div>
</div>